<div class="row">
    <div class="col-md-12 pull-left">
        <h3>Orders</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 pull-left">

        <table class="table table-bordered info-table">
            <thead>
            <tr>
                <th width="5%">id</th>
                <th width="10%">name</th>
                <th width="15%">telephone</th>
                <th width="20%">email</th>
                <th width="40%">address</th>
                <th width="10%">actions</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($orders as $order): ?>
                <tr>
                    <th scope="row"><?php echo $order->getId(); ?></th>
                    <td><?php echo $this->escapeHtml($order->getName()); ?></td>
                    <td><?php echo $this->escapeHtml($order->getTelephone()); ?></td>
                    <td><?php echo $this->escapeHtml($order->getEmail()); ?></td>
                    <td><?php echo $this->escapeHtml($order->getAddress()); ?></td>
                    <td>
                        <a href="<?php echo $this->url('admin/admin-order', ['action' => 'delete', 'id' => $order->getId()]) ?>">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
