<div class="row">
    <div class="col-md-12 pull-left">
        <a class="btn btn-default btn-success create-new"
           href="<?php echo $this->url('admin/admin-category', ['action' => 'create']) ?>">
            Create New Category
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-7 pull-left">

        <table class="table table-bordered info-table">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($categories as $category): ?>
                <tr>
                    <th scope="row"><?php echo $category->getId(); ?></th>
                    <td><?php echo $category->getName(); ?></td>
                    <td>
                        <a href="<?php echo $this->url('admin/admin-category', ['action' => 'update', 'id' => $category->getId()]) ?>">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="<?php echo $this->url('admin/admin-category', ['action' => 'delete', 'id' => $category->getId()]) ?>">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
