<div class="col-md-6">
    <form action="<?php echo $this->url('admin/admin-category', ['action' => 'update', 'id' => $category->getId()]) ?>"
          method="post">
        <div class="form-group <?php echo !empty($errors['name']) ? 'has-error' : ''; ?>">
            <label for="category-name">Update Category</label>
            <input type="text" name="name"
                   value="<?php echo $this->escapeHtmlAttr($category->getName()); ?>"
                   class="form-control" id="category-name" placeholder="Category Name">
            <?php if (!empty($errors['name'])): ?>
                <span class="help-block"><?php echo $this->escapeHtml(current($errors['name'])); ?></span>
            <?php endif; ?>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>