<div class="row">
    <div class="col-md-12 pull-left">
        <a class="btn btn-default btn-success create-new"
           href="<?php echo $this->url('admin/admin-product', ['action' => 'create']) ?>">
            Create New Product
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 pull-left">

        <table class="table table-bordered info-table">
            <thead>
            <tr>
                <th width="5%">id</th>
                <th width="20%">title</th>
                <th width="40%">description</th>
                <th width="15%">category</th>
                <th width="10%">price</th>
                <th width="10%">actions</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($products as $product): ?>
                <tr>
                    <th scope="row"><?php echo $product->getId(); ?></th>
                    <td><?php echo $this->escapeHtml($product->getTitle()); ?></td>
                    <td><?php echo $this->escapeHtml($product->getDescription()); ?></td>
                    <td><?php echo $this->escapeHtml($product->getCategory()->getName()); ?></td>
                    <td><?php echo $this->escapeHtml($product->getPrice()); ?></td>
                    <td>
                        <a href="<?php echo $this->url('admin/admin-product', ['action' => 'update', 'id' => $product->getId()]) ?>">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="<?php echo $this->url('admin/admin-product', ['action' => 'delete', 'id' => $product->getId()]) ?>">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
