<div class="col-md-6">
    <h3>Update Product</h3>

    <form action="<?php echo $this->url('admin/admin-product', ['action' => 'update', 'id' => $product->getId()]) ?>"
          method="post" enctype="multipart/form-data">
        <div class="form-group <?php echo !empty($errors['title']) ? 'has-error' : ''; ?>">
            <label class="control-label">Title</label>
            <input type="text" name="title"
                   value="<?php echo $this->escapeHtmlAttr($product->getTitle()); ?>"
                   class="form-control">
            <?php if (!empty($errors['title'])): ?>
                <span class="help-block"><?php echo $this->escapeHtml(current($errors['title'])); ?></span>
            <?php endif; ?>
        </div>
        <div class="form-group <?php echo !empty($errors['description']) ? 'has-error' : ''; ?>">
            <label class="control-label">Description</label>
            <textarea name="description" rows="8"
                      class="form-control"><?php echo nl2br($this->escapeHtml($product->getDescription())); ?></textarea>
            <?php if (!empty($errors['description'])): ?>
                <span class="help-block"><?php echo $this->escapeHtml(current($errors['description'])); ?></span>
            <?php endif; ?>
        </div>
        <div class="form-group">
            <label class="control-label">Category</label>
            <select name="category" class="form-control <?php echo !empty($errors['category']) ? 'has-error' : ''; ?>">
                <?php foreach ($categories as $category): ?>
                    <?php $selected = $product->getCategory()->getId() === $category->getId() ? 'selected' : ''; ?>
                    <option value="<?php echo $category->getId(); ?>" <?php echo $selected; ?>>
                        <?php echo $this->escapeHtml($category->getName()); ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <?php if (!empty($errors['category'])): ?>
                <span class="help-block"><?php echo $this->escapeHtml(current($errors['category'])); ?></span>
            <?php endif; ?>
        </div>
        <div class="form-group <?php echo !empty($errors['price']) ? 'has-error' : ''; ?>">
            <label class="control-label">Price</label>
            <input type="text" name="price"
                   value="<?php echo $this->escapeHtmlAttr($product->getPrice()); ?>"
                   class="form-control">
            <?php if (!empty($errors['price'])): ?>
                <span class="help-block"><?php echo $this->escapeHtml(current($errors['price'])); ?></span>
            <?php endif; ?>
        </div>
        <div class="form-group <?php echo !empty($errors['img']) ? 'has-error' : ''; ?>">
            <?php
            $path = '/img/product/' . $product->getId() . '/';
            $files = glob('./public' . $path . '*');
            if (!empty($files)) {
                $img = $this->serverUrl() . $path . basename($files[0]);
            } else {
                $img = '';
            }
            ?>
            <div id="image-wrapper" class="well well-sm" style="width: 170px">
                <img src="<?php echo $img; ?>" alt="" width="150"/>
            </div>
            <input type='file' id="upload-image" name="img" class="hide" accept=".jpg, .png, .jpeg">
            <?php if (!empty($errors['img'])): ?>
                <span class="help-block"><?php echo $this->escapeHtml(current($errors['img'])); ?></span>
            <?php endif; ?>
            <button id="image" type="button" class="btn btn-default">Upload Title Image</button>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>