<div id="products" class="row">
    <?php foreach ($products as $product): ?>
        <div class="col-md-4" style="height: 350px">
            <div class="col-lg-12">
                <?php
                $path = '/img/product/' . $product->getId() . '/';
                $files = glob('./public' . $path . '*');
                if (!empty($files)) {
                    $img = $this->serverUrl() . $path . basename($files[0]);
                } else {
                    $img = $this->serverUrl() . '/img/product/default.jpeg';
                }
                ?>
                <img src="<?php echo $img; ?>" width="245">
            </div>
            <div class="col-lg-12 product-title">
                <a href="<?php echo $this->url('product', ['id' => $product->getId()]); ?>">
                    <?php echo $product->getTitle(); ?>
                </a>
            </div>
            <div class="col-lg-12 row">
                <div class="col-lg-6 product-price">
                    Price:<?php echo $product->getPrice(); ?>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
</div>
