<div data-product-id="<?php echo $product->getId(); ?>" class="row-fluid product-wrapper">
    <div class="row">
        <div class="col-md-12 title">
            <h3><?php echo $this->escapeHtml($product->getTitle()) ?></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <?php
            $path = '/img/product/' . $product->getId() . '/';
            $files = glob('./public' . $path . '*');
            if (!empty($files)) {
                $img = $this->serverUrl() . $path . basename($files[0]);
            } else {
                $img = $this->serverUrl() . '/img/product/default.jpeg';
            }
            ?>
            <img src="<?php echo $img; ?>" width="260">
        </div>
        <div class="col-md-8">
            <div class="row-fluid">
                <p><?php echo $this->escapeHtml($product->getDescription()); ?></p>
            </div>
            <div class="row-fluid">
                <h4>Price:<?php echo $this->escapeHtml($product->getPrice()); ?></h4>
            </div>
            <div class="row-fluid">
                <button class="btn btn-default btn-danger btn-sm buy">Buy</button>
            </div>
        </div>
    </div>
</div>