<div class="row">
    <div class="col-md-6">
        <h3>Checkout</h3>
        <div class="text-danger"><?php echo !empty($emptyCart)?$emptyCart:'';?></div>
        <form action="<?php echo $this->url('shopping-cart')?>" method="post">
            <div class="form-group <?php echo !empty($errors['name']) ? 'has-error' : ''; ?>">
                <label class="control-label">Name</label>
                <input type="text" name="name" class="form-control">
                <?php if (!empty($errors['name'])): ?>
                    <span class="help-block"><?php echo $this->escapeHtml(current($errors['name'])); ?></span>
                <?php endif; ?>
            </div>
            <div class="form-group <?php echo !empty($errors['telephone']) ? 'has-error' : ''; ?>">
                <label class="control-label">Telephone</label>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">+38</span>
                  <input type="text" name="telephone" class="form-control">
                </div>
                <?php if (!empty($errors['telephone'])): ?>
                    <span class="help-block"><?php echo $this->escapeHtml(current($errors['telephone'])); ?></span>
                <?php endif; ?>
            </div>
            <div class="form-group <?php echo !empty($errors['telephone']) ? 'has-error' : ''; ?>">
                <label class="control-label">Email</label>
                <input type="email" name="email" class="form-control">
                <?php if (!empty($errors['email'])): ?>
                    <span class="help-block"><?php echo $this->escapeHtml(current($errors['email'])); ?></span>
                <?php endif; ?>
            </div>
            <div class="form-group <?php echo !empty($errors['address']) ? 'has-error' : ''; ?>">
                <label class="control-label">Address</label>
                <input type="text" name="address" class="form-control">
                <?php if (!empty($errors['address'])): ?>
                    <span class="help-block"><?php echo $this->escapeHtml(current($errors['address'])); ?></span>
                <?php endif; ?>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Product Title</th>
                <th>Amount</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <?php $total=0;?>
            <?php if(!empty($products)&&!empty($cart)):?>
            <?php foreach($products as $product):?>
                <tr>
                    <td><?php echo $this->escapeHtml($product->getTitle());?></td>
                    <td><?php echo $cart[$product->getId()];?></td>
                    <td class="product-total-price"><?php echo $prodTotal=$cart[$product->getId()]*$product->getPrice(); $total+=$prodTotal;?></td>
                    <td>
                        <button data-product-id="<?php echo $product->getId();?>"
                                class="btn btn-link cart-remove-product">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            <?php endforeach;?>
            <?php endif;?>
            </tbody>
        </table>
        <div id="total-price">
            Total:<span class="price"><?php echo $total;?></span>
        </div>
    </div>
</div>